<su-tabset-test>
  <su-tabset onclick="{ label => onClick(label) }" class="{ props.class }" active="{ props.active }"
    lazy-mount="{ props.lazyMount }">
    <su-tab label="Home">Home content</su-tab>
    <su-tab label="Messages">Messages content</su-tab>
  </su-tabset>

  <script>
    export default {
      onClick
    }
    function onClick(label) {
      this.dispatch('click', label)
    }
  </script>
</su-tabset-test>